%h1 Hello, #{current_user.email}

-if @sites.any?
  %h3 You manage the following sites:
  %ul#sites-list
    -@sites.each do |site|
      = content_tag :li, ( link_to site.name, edit_site_path(site) )
-else
  %p This account is not managing any sites yet

=link_to 'New Site',  new_site_path, class: 'button'
