%h1 AMPP is
%h2 Ampp: Music Promo Portal

%p we are pre-beta... stay tuned

%p
  -if user_signed_in?
    %p Hello, #{link_to current_user.email, current_user}
    %p= link_to 'sign out', destroy_user_session_path, method: :delete
  -else 
    %p= link_to 'sign in', new_user_session_path
    %p= link_to 'sign up (beta)', new_user_registration_path
