%h1 AMPP is
%h2 Ampp: Music Promo Portal

%p we are pre-beta... stay tuned
%p
  = link_to 'sign up (beta)', new_user_registration_path
%p
  = link_to 'sign in (beta) with facebook', user_omniauth_authorize_path(:facebook)
%p
  - if user_signed_in?
    Hello, #{link_to current_user.email, current_user}
  - else 
    = link_to 'sign in', new_user_session_path
