@import url(http://fonts.googleapis.com/css?family=Nunito);
@import url(http://fonts.googleapis.com/css?family=Lobster);

$dark: #3B2D38;
$gray: #BCBDAC;
$yellow: #CFBE27;
$orange: #F27435;
$pink: #F02475;