/*
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require slick
 *= require slick-theme
 */
@import 'font-awesome';
@import 'colors';

#main {max-width: 72rem;}

.alert-box {
  max-width: 60%;
  margin: auto;
  opacity: .8;
  position: absolute;
  top: 2em;
  right: 2em;
  border-radius: 0.3em;
  z-index: 10;
}

body {
  font: "Nunito";
  background-color: $dark;

  a {text-decoration: underline;}
}

#header {
  color: white;
  background-color: $gray;
  font: 125% "Lobster";
  padding: .1rem 0rem .1rem 2rem;
}

#header .logo {
  font-family: "Nunito";
  a {color: white;}
  a:hover {color: $dark;}
}

#header div {
  display: inline-block !important;
}