/*
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require slick
 *= require slick-theme
 */

@import url(http://fonts.googleapis.com/css?family=Nunito);
@import url(http://fonts.googleapis.com/css?family=Lobster);

$dark: #3B2D38;
$gray: #BCBDAC;
$yellow: #CFBE27;
$orange: #F27435;
$pink: #F02475;

$main-font: "Nunito";
$fancy-font: "Lobster";

#main {max-width: 72rem;}
.alert-box {
  max-width: 60%;
  margin: auto;
  opacity: .8;
}

body {
  font: $main-font;
  background-color: $dark;

  a {text-decoration: underline;}
}

#header {
  color: white;
  background-color: $gray;
  font: 125% $fancy-font;
  padding: .1rem 0rem .1rem 2rem;
}

#header .logo {
  font: 100% $main-font;
  a {color: white;}
  a:hover {color: $dark;}
}

#header div {
  display: inline-block !important;
}

