// Place all the styles related to the Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

body {
  font-family: "Nunito";
  color: $gray;
}

a {
  color: $pink;
}
a:hover {
  color: $orange;
}

#site_name {
  font: 500% "Lobster";
  color: $yellow;
  padding-left: 5%;
}

h2 {
  font: 125% "Nunito";
  color: white;
}
h3 {
  font: 110% "Nunito";
  color: $yellow;
}

#upcoming_events .venue {
  font-size: 125%;
  color: white;
}

.fb-event {
  border: 0.15em solid white;
  border-radius: 4px;
  margin: 0 1px 2px 1px;
  padding: 0 4px 0 12px;
}

.photo_album {
  border: 0.15em solid white;
  border-radius: 4px;
  padding-top: 1em;
}

#gallery {
  background-color: $gray;
  min-height: 420px;
}

#gallery .caption {
  color: $dark;
}

#gallery .close-reveal-modal {
  color: white;
}

// ****** STREAMING PLAYER *******

#bc_player {
  background-color: white;
  border: 3px solid black;
  position: fixed;
  top: 3.5em;
  right: -1000px;
}

#bc_player_clicker {
  display: inline;
  position: fixed;
  top: 3em;
  right: 3em;
  border: 2px solid $orange;
  padding: 2px;
  border-radius: 10px;
  color: white;
  background-color: $dark;
  opacity: 0.7;
  z-index: 2;
  -webkit-transition: color 1s, background-color 1s, border-color 1s, opacity 1s;
  transition: color 1s, background-color 1s, border-color 1s, opacity 1s;
}

#bc_player_clicker:hover {
  color: $orange;
  border-color: $pink;
  background-color: $gray;
  opacity: 1;
  cursor: pointer;
}

// ****** EDIT SITE ********

.input-name {
  height: 1.2em !important;
  border-radius: 0.4em !important;
  width: 125% !important;
}

.disabled-hint {
  position: relative;
  top: -1em;
  left: 3em;
  font-size: 70%;
}

.new-site-hint {
  position: relative;
  top: -1.8em;
}

.edit-page-album {
  border: 0.1em solid $gray;
  padding: 0.2em;
  margin-bottom: 0.2em;
}

.new-player {
  border: 0.1em solid $yellow;
  border-radius: 0.2em;
  padding: 0 0.4em 0 0.4em;
}

label {
  color: $gray;
}

#hidden_items {
  background-color: $dark;
  border-radius: 1em;
  border: 0.2em solid $pink;
}

.event-to-hide, .album-to-hide {
  border: 0.2em dotted $gray;
  padding: 0.5em;
  margin-bottom: 0.3em;
}

.details {
  display: inline-block;
}

.e-title {
  display: inline-block;
}

.date-venue {
  display: inline-block;
}

.event-to-hide label, .album-to-hide label {
  top: 12px;
  right: 15px;
}

input:checked + label {
  background-color: $orange !important;
}

input[type="submit"] {
  background-color: $pink;
  -webkit-transition: background-color 1s, border-radius 1s;
  transition: background-color 1s, border-radius 1s;
  border-radius: 1em;
}

input[type="submit"]:hover {
  background-color: $orange;
  border-radius: 0;
}