%h2= @site.name
Facebook page ID: #{@site.facebook_page_id}

-if @events.any?
  %h3 Upcoming Events
  -@events.each do |e|
    .fb-event
      =content_tag :strong, e.name
      %br
      = e.description
      %br
      Picture: #{e.picture}
      %br

  